* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #666;
  background: #f6f6f6;
}

a {
  font-style: normal;
  text-decoration: none;
  color: #666;
}

#app a:hover {
  color: #c81623;
}

li {
  list-style-type: none;
}

input,
img,
button {
  border: none;
  outline: none;
}
