* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #666;
  background: #f6f6f6;
  font: 12px/150% Arial, Verdana, "\5b8b\4f53", arial, "Hiragino Sans GB", "Microsoft YaHei", "微軟正黑體", "儷黑 Pro", sans-serif;;
}

a {
  font-style: normal;
  text-decoration: none;
  color: #666;
  cursor: pointer;

}

//#app a:hover {
//  color: #c81623;
//}

li {
  list-style-type: none;
}

input,
img,
button {
  border: none;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400;
}

i {
  font-style: normal;
}
